{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container mt-5">
        <img src="{{entry.preview | media_filter}}"  width="550" height="400" alt="{{ product.name }}">
        <h1 class="mb-4">{{ entry.header }}</h1>
        <p>Дата создания: {{ entry.created_at }}</p>
        <p>Просмотры: {{ entry.views }}</p>
        <p>Содержимое: {{ entry.content }}</p>
    </div>
    <a class="btn btn-primary" href="{% url 'blog:list' %}" role="button">Назад</a>
    <a class="btn btn-danger" href="{% url 'blog:delete' entry.pk %}" role="button">Удалить</a>


{% endblock %}
