{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

    <main class="container">
        <div class="row text-center">
            {% for product in page_obj %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{product.image | media_filter}}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h1 class="card-title pricing-card-title">{{product.price}} руб.</h1>
                        <p class="card-text">{{product.description|truncatechars:100}}</p>
                        <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-lg btn-block btn-outline-primary">Детали</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        {% include 'catalog/pagination.html' %}
     </main>
{% endblock %}